/* carrito.css */
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#carrito-container {
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#total-container {
    text-align: right;
    margin-top: 20px;
}

#checkout-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#checkout-button:hover {
    background-color: #218838;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.nav-list li a{
    text-decoration: none;
}

.abrir-menu, .cerrar-menu {
    display: none;
}



@media screen and (max-width: 1400px){
    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
        color: #E0E1DD;
    }

    .cerrar-menu{
        padding: 7px;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1B263B;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
    }
}