/* SECCIÓN CARTELERA */
/*Encabezado*/
.title {
    display: flex;
    align-items: center;
    margin: 30px 0;
    background-color: #d2d7e0;
}

.title h1 {
    font-size: 30px;
    color: #1B263B;
    font-weight: bold;
    margin: 0 auto;
}

.title img {
    width: 200px;
    height: auto;
    padding-left: 25px;
}

/*Title-2*/
.title-2{
    margin: 100px 0 50px 0;
    color: #0D1B2A;
    font-weight: bold;
    text-align: center;
    border-bottom: #0D1B2A 1px solid;
    padding-bottom: 40px;
}

/*Cartelera*/
.cartelera-mov .cuadro {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    overflow-x: auto;
    background-color: #0D1B2A;
    padding: 40px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.obras {
    height: 500px;
    min-width: 370px;
    background-color: #415A77;
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
    border-radius: 10px;
    padding: 30px;
    margin-right: 40px;
}

.obras p {
    text-align: center;
    padding-top: 20px;
    color: #E0E1DD;
    font-size: 22px;
    font-weight: bold;
}

.obras button {
    background-color: #d2d7e0;
    color: #0D1B2A;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.2s ease;
}

.obras button:hover {
    background-color: #b4b4b6;
}

.obras img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(47, 47, 47);
}

/*Información de obras*/
.cartelera {
    display: flex;
    justify-content: space-between;
    background-color: #0D1B2A;
    margin-bottom: 20px;
    margin-top: 50px;
    padding: 40px;
    box-shadow: #E0E1DD 0 4px 8px;
    border-radius: 8px;
    overflow: hidden;
    height: 750px;
    align-items: center;
}

.cartelera img {
    width: 35%;
    height: 500px;
    object-fit: cover;
    margin: 20px;
}

.contenido-cartelera {
    padding: 50px;
    width: 65%;
    height: 90%;
    background-color: #d2d7e0;
    border-radius: 8px;
    box-shadow: #80858e 0 6px 8px;
    margin: 10px;
    text-align: justify;
}

h2 {
    margin-top: 0;
    font-size: 25px;
    color: #0D1B2A;
    text-align: center;
}

.Detalles p {
    padding-top: 10px;
    font-size: 20px;
    line-height: 1.40;
    text-align: justify;
    color: #1B263B;
}

strong {
    color: #0D1B2A;
    font-weight: bold;
}