#checkout-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 16px;
    max-width: 58%;
    margin-left: 15px;
}

#cart-summary {
    border: 1px solid #e0e0e0;
    padding: 16px;
    margin-top: 16px;
    float: right;
    width: 38%;
    margin-right: 15px;
}

#cart-summary h2 {
    font-size: 1.5em;
    color: #1d4ed8;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}



#billing-address, #payment {
    border: 1px solid #e0e0e0;
    padding: 16px;
}

#billing-address h2, #payment h2 {
    font-size: 1.5em;
    color: #1d4ed8;
    margin-bottom: 16px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#checkout-button {
    background-color: #4f46e5;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

#checkout-button:hover {
    background-color: #4338ca;
}
