
#primera-seccion-contendor {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: left;
    height: 60vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/teatro-galeria.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#primera-seccion h2{
    color: white;
    font-size: 3.5em;
    font-weight: bold;
    font-style: normal;
}

.segunda-seccion .grid{
	width: 100%;
    padding: 2%;
    background-color: white;
    margin: 30px 1.5%;
    border: solid 0.5px rgba(0, 0, 0, 0.089);
    text-align: center;
	display:block;
	position: relative;
	margin-top: 30px;
	align-items: center;
	box-shadow: 0 10px 4px -4px rgba(0, 0, 0, 0.2);
}

.segunda-seccion .envoltorio-galeria{
	width:100%;
	margin:0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.grid img{
    width: 100%;
    height: auto;
}
