body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: rgb(34, 37, 41);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.sidebar .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    background-color: rgb(34, 37, 41);
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 40px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    padding-left: 5px;
}

.sidebar ul li {

}

.sidebar ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 12px 16px;
    background-color: rgb(34, 37, 41);
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: rgb(60, 63, 68);
}

.sidebar-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.container-fluid {
    padding: 0;
}

.content {
    margin-left: 300px; 
    padding: 20px;
    z-index: 999;
    position: relative;
}

.modal-backdrop {
    --bs-backdrop-bg: none;
}
    
.modal{
    --bs-modal-width: 75%;
    margin-left: 160px;
}


#functions-container,
#empleados-section {
    margin-left: 330px;
    padding: 30px 30px;
}

#crud-table,
#crud-table-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

#functions-container > h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 3px solid #021423; 
    padding-bottom: 5px; 
}

#empleados-section > h2 {
    font-size: 32px; 
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 3px solid #021423; 
    padding-bottom: 5px; 
}

.card {
    width: 100%;
    margin: 10px; 
    border: none; 
    border-radius: 15px;
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card-img-top {
    object-fit: cover; 
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem; 
    color: #333;
    margin-bottom: 15px;
}

.list-group-item {
    border: none; 
    padding: 10px 0; 
}

.card-footer {
    background-color: #ffffff; 
    border-top: 1px solid #ddd; 
}

.btn {
    padding: 10px 20px; 
    font-size: 1rem;
}

.btn-success {
    background-color: #28a745; 
    border: none; 
}

.btn-success:hover {
    background-color: #218838; 
}

.btn-danger {
    background-color: #dc3545; 
    border: none; 
}

.btn-danger:hover {
    background-color: #c82333;
}

.fade{
    animation: none;
}

.bi{
    color: white;
}

#closee{
    color: rgba(220, 23, 23, 0.772);
}

.sidebar-texto{
    padding: 10px;
}

@media (min-width: 576px) {
    .col-sm-6 {
        flex: 0 0 auto;
        width: 30%;
    }
}