body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030; /* Para asegurarse de que esté sobre otros elementos */
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #fff !important;
    margin-right: 20px;
    font-size: 16px;
}

.navbar-nav .nav-link:hover {
    color: #ffd700 !important;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-add {
    background-color: #007bff;
    border: none;
}

.btn-add:hover {
    background-color: #0056b3;
}

/* Modal styling */
.modal-content {
    border-radius: 10px;
    margin-top: 75px;
}

.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-footer .btn {
    width: 100%;
}

.form-control {
    border-radius: 5px;
}

.content{
    margin-left: 350px;
    margin-top: 125px;
}

#functions-container{
    margin-left: 350px;
    margin-top: 125px;
}

#empleados-section{
    margin-left: 350px;
    margin-top: 125px;
    margin-right: 50px;
}

#crud-table-2 {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en filas */
    justify-content: space-between; /* Espacio entre las tarjetas */
}

.card {
    margin: 10px; /* Espacio entre las tarjetas */
    flex: 1 1 calc(25% - 20px); /* Ajusta el tamaño de las tarjetas */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
}

/* Asegúrate de que las tarjetas sean responsivas */
@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* 2 tarjetas por fila en pantallas pequeñas */
    }
}

@media (max-width: 576px) {
    .card {
        flex: 1 1 100%; /* 1 tarjeta por fila en pantallas muy pequeñas */
    }
}